<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm">
      <p>+221 33 854 00 88</p>
      <p>Mail: service-hot@hotdog.sn</p>
    </div>
    
  </div>
</div>

</body>
<% include partials/script %>
</html>